{% extends 'base.html.twig' %}

{% block title %}Random Number App{% endblock %}

{% block body %}
<div class="container d-flex justify-content-center mt-5">
    <h2>Try our Apps</h2>
</div>
<div class="container d-flex justify-content-center mt-5">
<a href="/random/10"><div class=" weather m-5">Random Number</div></a>
<a href="/weather/100"><div class=" random m-5">Weather Convertor</div></a>

</div>
{% endblock %}
