{% extends 'base.html.twig' %}

{% block title %}Hello{% endblock %}

{% block body %}


<div class="container">
    <div class="card position-absolute top-50 start-50 translate-middle" style="width: 18rem;">
  <img src="https://cdn.pixabay.com/photo/2022/12/04/15/10/game-7634718_1280.jpg" width="70px" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Who is the winner?</h5>
    <p class="card-text">The winner is: Number {{randomNumber}}</p>
    
  </div>
</div>
</div>

{% endblock %}



